<nav class=" navbar navbar-expand-lg navbar-absolute navbar-transparent">
  <div class=" container-fluid">
    <div class=" navbar-wrapper">
      <div class=" navbar-toggle d-inline">
        <button class=" navbar-toggler" type="button" (click)="sidebarToggle()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <!-- <a class=" navbar-brand"> {{ getTitle() }} </a> -->
    </div>
    <button aria-label="Toggle navigation" class=" navbar-toggler" (click)="collapse()"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" id="btn-collapse" type="button">
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </button>
    <div class=" navbar-collapse" [ngbCollapse]="isCollapsed" id="navigation">
      <ul class=" navbar-nav ml-auto">

        <li class="nav-item pointer" ngbDropdown id="dropdown-options">
          <a class=" nav-link py-0" data-toggle="dropdown" ngbDropdownToggle>
            <div class=" photo">
              <img alt="Profile Photo" [src]="user.photo ? user.photo : '/assets/img/none.png'" />
            </div>
            <span class=" mx-2">{{user.username}}</span>
          </a>
          <ul class=" dropdown-navbar" ngbDropdownMenu>
            <li class=" nav-link">
              <a class=" nav-item" [routerLink]="['/change-password']" ngbDropdownItem>
                Cambiar contraseña
              </a>
            </li>
            <li class=" nav-link">
              <a class=" nav-item" (click)="onLogout()" ngbDropdownItem>
                Log out
              </a>
            </li>
          </ul>
        </li>
        <li class=" separator d-lg-none"></li>
      </ul>
    </div>
  </div>
</nav>
